<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://recognizerfunctionapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/d41ab988-fee8-4f26-a2b8-c570e648577e/resourceGroups/CarbonaraRecognizer-rg/providers/Microsoft.Web/sites/RecognizerFunctionApp</ResourceId>
    <UserName>$RecognizerFunctionApp</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://recognizerfunctionapp.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>